/*
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

body {
  font-family: "Play", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  text-align: center;
  background-color: #36454f;
}
*/

/*
@import url("https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Shantell Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  text-align: center;
  background-color: #36454f;
}
*/

/*
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");

body {
  font-family: "La Belle Aurore", cursive;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  text-align: center;
  background-color: #36454f;
}
*/

@import url("https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap");

body {
  font-family: "Vujahday Script", cursive;
  font-size: 18px;
  font-weight: 360;
  color: #888;
  line-height: 30px;
  text-align: center;
  background-image: url("../imgs/backgrounds/vecteezy_abstract-square-with-pastel-colour_6487408-1.jpg");
  background-size: cover;
  background-color: #36454f;
}

body.dark-mode {
  background-size: cover;
  background-color: #36454f;
  background-image: url("../imgs/backgrounds/vecteezy_abstract-purple-gradient-texture-with-geometric-elements_7355486.jpg");
}

body.dark-mode a {
  color: #80b3ff;
}

body.dark-mode a:hover {
  color: #b3c7ff;
}

.btn-link-3 {
  background: none;
  border: none;
  color: inherit;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.btn-link-3:hover {
  color: #b3c7ff;
}

.background-tint {
  filter: sepia(100%) saturate(200%) brightness(70%) hue-rotate(330deg);
}

#aboutvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.aboutcontent {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#aboutbtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#aboutbtn:hover {
  background: #ddd;
  color: black;
}

.section-container {
  margin: 0 auto;
  padding-bottom: 80px;
}

.section-description {
  margin-top: 60px;
  padding-bottom: 10px;
}

.section-description p {
  margin-top: 20px;
  padding: 0 120px;
}

.divider-1 {
  padding: 25px 0 15px 0;
}

.divider-1 .line {
  width: 160px;
  margin: 0 auto;
  border-bottom: 1px dashed #ccc;
}

.navbar {
  margin-bottom: 0;
  padding-top: 0;
  background: #444;
  border: 0;
  border-radius: 0;
  transition: all 0.6s;
}

.navbar-no-bg {
  padding-top: 10px;
  background-color: rgba(68, 68, 68, 0.8);
}

ul.navbar-nav {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

.navbar-inverse ul.navbar-nav li a.btn-link-3 {
  display: inline-block;
  margin: 9px 0 0 15px;
  padding: 6px 15px;
  background: #ff96b4;
  border: 0;
  font-size: 14px;
  font-weight: 360;
  color: #fff;
  text-transform: uppercase;
  border-radius: 6px;
}

body.dark-mode .navbar-inverse ul.navbar-nav li a.btn-link-3 {
  background: #a81cbe;
  color: #ffffff;
}

.navbar-brand {
  width: 102px;
  background: url(../imgs/pfps/logo.png) left center no-repeat;
  text-indent: -9999999;
}

a:link {
  color: #a81cbe;
}

a:visited {
  color: #a81cbe;
}

a:hover {
  color: #770d88;
}

body.dark-mode a:link {
  color: #c4a1e1;
}

body.dark-mode a:visited {
  color: #c4a1e1;
}

body.dark-mode a:hover {
  color: #9f6aca;
}

.dw1 {
  text-align: center;
  margin: auto;
  width: 1000px;
  padding: 260px;
  color: #b1cbcc;
  font-size: 22px;
}

footer {
  padding: 40px 0 45px 0;
  background: none;
}

.footer-copyright {
  padding-top: 15px;
}

.footer-copyright a {
  color: #888;
  border-bottom: 1px dotted #888;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #888;
  border: 0;
}

footer {
  position: fixed;
  color: white;
  bottom: 0;
  width: 100%;
  height: 13%;
}

center {
  width: 500px;
  margin: 0 auto;
}

div.pl {
  text-align: center;
  padding: 260px;
  color: #b1cbcc;
  font-size: 20px;
  text-align: center;
}

ul.plul {
  display: inline-block;
  text-align: left;
}

.about {
  text-align: center;
  margin: auto;
  width: 1000px;
  padding: 260px;
  color: #b1cbcc;
  font-size: 22px;
}

.aboutcontent {
  text-align: center;
  color: white;
  z-index: 1;
  font-size: 30px;
}

#aboutimages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-social-logo {
  padding-left: 15px;
  padding-right: 1px;
  transition: transform 0.2s;
  width: 65px;
  height: 47px;
}

aboutvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  filter: blur(7px);
  opacity: 65%;
}

.bgbox {
  background: #ff96b4;
  border-radius: 25px;
  font-size: 20px;
  padding: 25px;
  border: 1px solid #ffffff;
  margin: 10px;
  color: #ffffff;
}

.bgboxfooter {
  background: #ff96b4;
  border-radius: 25px;
  font-size: 15px;
  padding: auto;
  width: auto;
  border: 1px solid #ffffff;
  margin: auto;
  color: #ffffff;
}

body.dark-mode .bgbox {
  background: #a81cbe;
  border: 1px solid #ffffff;
}

body.dark-mode .bgboxfooter {
  background: #a81cbe;
  border: 1px solid #ffffff;
}

.section {
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  transition: 0.5s;
}

section:hover {
  transform: scale(1.02);
}

/* Button styles */
.enter-button {
  background-color: #cebaef; /* Main button color */
  color: #fff; /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Transition for hover effect */
}

/* Button hover effect */
.enter-button:hover {
  background-color: #c4a1e1; /* Slightly darker shade for hover */
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .section {
    padding: 10px;
  }
}
