{{ define "main" }}
<main>
  <div class="bgbox">
      <div class="home">
        <b id="date-time">time</b>
        <script src="/assets/js/timezone.js"></script>
        <p>Hello and Welcome, You may call me Tee.</p>
        <p>I prefer to go by Tee, Riya, Rhea, or Kara.</p>
        <p>My preferred pronouns are She/They</p>
        <p>
          Shows & Movies I like include, Doctor Who, Supernatural, DC Universe, Marvel
          Universe.
        </p>
        <p>Games I like include, Minecraft, Terraria, BeamNG.drive and DayZ.</p>
        <p>I enjoy GTA V RP, I am whitelisted on <a href="https://discord.gg/redlinerp">Redline RP</a> and <a href="https://discord.gg/circuit">Circuit V2</a></p>
        <p style="font-size: 20px">
          <a href="https://nohello.net/en/">NoHello</a> |
          <a href="https://dontasktoask.com/">DontAskToAsk</a> |
          <a href="https://xyproblem.info/">XYProblem</a>
        </p>
      </div>
    </div>
  </div>
</main>
{{ end }}
